@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

nav {
    text-align: right;
    padding: 0.5rem;
    background-color: #84cc16;
}

nav h1 {
    text-align: left;
    color: whitesmoke;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: 200;
}

nav ul {
    text-decoration: none;
    list-style: none;

}

nav li {
    display: inline;
    padding: 1rem 1rem;
}

h1 {
    text-align: center;
}

.container {
    text-align: center;

}

.container div {
    font-size: larger;
    padding: 1rem;

}

.container input {
    border-radius: 5px;
    border-style: solid;
  border-color: #84cc16;
  height: 20px;
}

button {
    padding: 0.5rem;
    border: none;
    background-color: #84cc16;
    color: white;
    font-size: larger;
    border-radius: 7px;
    cursor: pointer;
}

.btn2 {
    text-align: center;
}